body {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #000026;
  } 

  .breadcrumb {
    background-image: url("../img/canteras5.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    color: #fff;
    margin-bottom: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
 
  .table{
    background-color: #06284E;
    color: #fff;
    opacity: 0.7;
  }

  
  .jumbotron{
    margin-bottom:0;
   }

  header{
    background-color:#06284E;
    color:white;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    background-color:#06284E;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
  }
  .cards img {
    margin: 10px;
    max-width: 23vw;
  }
  .page-footer{
    background-color:#06284E;
    color:white;
  }
